/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

header {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
}

header nav {
  width: 75%;
  margin-top: 35px;
	display: flex;
	justify-content: space-around;
	/* border: 1px solid red; */
}

header nav a {


  font-size: 12px;
  color: black;
  text-decoration: none;
}
header .logo {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header nav a:hover {
  text-decoration: underline;
  transform-origin: top right;
  transform scale(1.75);
  border-radius: 10px;
}

.middle-row .div1of4 .bttn {
  button:hover {
    background-color: black;
    color: white;
  }
}

.container .midblocks .div1of10:hover {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}

.container .section .div .div1of4 {
    -ms-transform: matrix(1, -0.3, 0, 1, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0);

}

footer {
  width: 65%;
  margin: 32px 0;
  text-align: center;
  font-size: 12px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 8px;


}

h3 {

}

.bottom-content {
  margin-top: 37px;
  padding: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.bottom-content {
  /* width: 275px; */
  margin-right: 12px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-content {
  margin-right: 12px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.div1of10 {
  border: 1px solid black;
	/* display: inline-block; */
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* align-content: center; */
	flex-wrap: wrap;
}
 .middle-content {
   border: 1px solid black;
 	/* display: inline-block; */
 	padding: 10px;
 	margin: 10px;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	/* align-content: center; */
 	flex-wrap: wrap;
 }

 .middle-row {
   border-bottom: : 1px dashed black;
 	/* display: inline-block; */
 	padding: 10px;
 	margin: 10px;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	/* align-content: center; */
 	flex-wrap: wrap;

 }

 .div1of4 {

 }
.middle-row .div1of4 .bttn {
  border: 1px solid black;
	padding: 10px;
	border-radius: 10%;
	border: 1px solid black;
	width:130px;
	text-align: center;
	/* justify-content: space-between; */
	align-self: center;
	background-color: white;
	margin: 15px;
  }.

  .middle-row .div1of4 .bttn {
    button:hover {
      background-color: black;
      color: white;
    }
  }

  .bottomLayer {
    .services .services-info {
    	padding-bottom: 30px;
    	border-bottom: 1px solid black;
    	margin-bottom: 30px;

    }

 h3 {
   /* font-size: 20px; */
  }
